Flask==3.1.2
flask-cors==6.0.1
python-dotenv==1.0.1
requests==2.32.3
supabase==2.22.0
supabase-auth==2.22.0
supabase-functions==2.21.1
postgrest==2.21.1
realtime==2.5.3
storage3==0.12.1
gotrue==2.8.0
firebase-admin==6.5.0
opencv-python-headless==4.9.0.80
numpy==1.26.3
pandas==2.2.1
pyJWT==2.10.1
scikit-learn==1.5.1
gunicorn==23.0.0
bcrypt==4.1.3
